<h2>Products</h2>
<div class="dropdown">
        <h4>Order By :</h4>
        <select ng-model="sortorder">
        <option value="offerPrice">Price</option>
        <option value="discount">Discount</option>
        </select>
        <hr/>
<div class="panel-group">
  <div class="panel panel-default" ng-repeat="product in product | orderBy: sortorder">
        <div class="panel-heading">{{product.title}}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
              <img ng-src="{{product.imageUrl}}" height="200px" width="200px"alt="{{product.title}}" />
            </div>
            <div class="row">
              <div class="col-sm-offset-2">
              <font size="6"><i class="fa fa-inr"></i><strong>{{product.offerPrice}}</strong></font>
              <strike><i class="fa fa-inr"></i>{{product.salePrice}}</strike>
              <strong> {{product.discount}}% Off</strong>
            </div>
            </div>
            </div>
            <div class="col-sm-8">
              <ul class="list-group">
              <li class="list-group-item"><strong>Category : </strong>{{product.division}}</li>
              <li class="list-group-item"><strong>Merchant : </strong>{{product.merchant}}</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="panel-footer">
        <a href="" class="btn btn-info btn-lg" ng-click="addToCache(product.productId)">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like {{getFromCache(product.productId)}}
        </a>
        </div>
        </div>

        </div>
